label {
    margin-top: 13px;
}

.form {
    background-color: rgb(42 77 77);
    width: 450px;
    height: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 70px;
}

.form ion-icon {
    width: 30px;
    height: 20px;
    color: #ffffff;
    margin-bottom: 8px;
    

}

.form .box-account {
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.form .box-account h4 {
    color: white;
}

.form .content-box {
    margin-top: 80px;
    margin-left: auto;

}

.form {
    box-shadow: 15px 14px 11px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.form .avatar img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    margin-top: -20px;
}

.form .btn-edit{
    margin-top: 10px;
}